@media (max-width: 600px) {
  .container {
    padding: 0 20px;
  }
  .header {
    padding: 20px 0 !important;
  }
  .header-nav {
    flex-direction: column;
    position: absolute;
    background-color: red;
    width: 100%;
    top: 135px;
    z-index: 5;
    left: 0;
    align-items: flex-start !important;
    padding: 25px 15px;
    transform: translateX(200%);
    transition: transform 1s;
    &.active {
      transform: translateX(0);
    }
  }
  .header-burger {
    display: block !important;
  }
}
