@import 'reset';
@import 'global';

.header {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #eaeaea;
    height: 1px;
  }
  &-item {
    display: flex;
    align-items: center;
    &__logo {
      margin-right: 15px;
      img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }
    }
    &__text {
      color: #9d9d9d;
    }
  }
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 30px;
  &__icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    span {
      margin-left: 10px;
      color: #5c5c5c;
      font-weight: 600;
    }
    .icon {
      width: 20px;
      height: 20px;
    }
  }
}

.intro {
  margin: 45px 0 40px;
  background: #f4efe9;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 10px;
  &-top {
    position: absolute;
    top: 16px;
    left: 20px;
  }
  &-info {
    padding-left: 60px;
    &__title {
      margin-bottom: 10px;
      span {
        color: #8bb43c;
      }
    }
  }
  &-img {
    img {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
}
.products {
  padding-bottom: 50px;
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 20px;
  }
  &-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
}
.productSearch {
  position: relative;
  width: 100%;
  max-width: 250px;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  .icon {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 15px;
    top: 15px;
  }
  &-input {
    padding: 15px 15px 15px 40px;
    background-color: transparent;
    border: none;
    width: 100%;
    color: #9d9d9d;
    &::placeholder {
      color: #c4c4c4;
    }
  }
}
.card {
  border: 1px solid #d3d3d3;
  border-radius: 40px;
  padding: 20px 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  transition: all 0.6s;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  &-icon {
    position: absolute;
    width: 32px;
    height: 32px;
    background: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &.like {
      top: 20px;
      left: 25px;
      .icon {
        width: 15px;
        height: 13px;
        stroke: #6e6e6e;
        stroke-width: 15px;
        fill: transparent;
      }
      &--active {
        background: rgba(255, 133, 133, 0.3);
        border: none;
        .icon {
          fill: #ff8585;
          stroke: #ff8585;
        }
      }
    }
    &.add {
      right: 25px;
      bottom: 20px;
      .icon {
        width: 11px;
        height: 11px;
        fill: #6e6e6e;
      }
    }
    &.check {
      right: 25px;
      bottom: 20px;
      border: none;
      background: linear-gradient(180deg, #89f09c 0%, #3cc755 100%);
      .icon {
        fill: #fff;
        width: 11px;
        height: 11px;
        filter: drop-shadow(1px 2px 1px rgb(0 0 0 / 0.4));
      }
    }
  }
  &-desc {
    margin: 14px 0;
  }
  &-price {
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    color: #bdbdbd;
    span {
      display: block;
      font-weight: 700;
      font-size: 14px;
      color: #000;
      margin-top: 3px;
    }
  }
}

.cartModal {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
  &-inner {
    background-color: #fff;
    padding: 35px 30px;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40%;
    z-index: 5;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &-title {
    font-weight: 700;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .icon {
      width: 20px;
      height: 20px;
      fill: #575757;
      transition: all 0.6s;
      cursor: pointer;
    }
    &:hover {
      .icon {
        fill: #373737;
        transform: scale(1.1);
      }
    }
  }
  &-products {
    overflow: auto;
    margin: 40px 0 90px;
  }
}
.cartModal-prod {
  margin-bottom: 20px;
  border: 1px solid #d3d3d3;
  border-radius: 40px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__img {
    width: 70px;
    height: 70px;
    margin-right: 21px;
  }
  &__info {
    flex-basis: 190px;
  }
  &__price {
    font-weight: 700;
    margin-top: 8px;
  }
  &__close {
    width: 32px;
    height: 32px;
    background: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 12px;
    transition: border 0.6s;
    .icon {
      width: 11px;
      height: 11px;
      fill: #6e6e6e;
      transition: fill 0.6s;
    }
    &:hover {
      border-color: #7a7a7a;
      .icon {
        fill: #505050;
      }
    }
  }
}
.cartModal-bottom {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &__row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    span {
      flex: 1;
      margin: 0 10px 3px;
      border-bottom: 1px dashed #dfdfdf;
    }
  }
  &__price {
    font-weight: 600;
  }
}
.cartModal-bottom__btn {
  max-width: 100%;
  margin-top: 24px;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  padding: 18px;
  .arrow-right,
  .arrow-left {
    position: absolute;
    top: 19px;
    transition: transform 0.6s;
  }
  .arrow-right {
    right: 60px;
  }
  .arrow-left {
    left: 40px;
  }
  &:hover {
    .arrow-right {
      transform: translateX(10px);
    }
  }
  &:hover {
    .arrow-left {
      transform: translateX(-10px);
    }
  }
}
.cartModal__state {
  width: 100%;
  max-width: 300px;
  text-align: center;
  margin: auto;
  &__title {
    &.green {
      color: #87c20a;
    }
  }
  &__img {
    margin: 0 auto 20px;
  }
  &__text {
    margin: 10px 0;
    color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
  }
}
